[submodule "libs/sdk"]
	path = libs/sdk
	url = https://github.com/maddinat0r/samp-plugin-sdk.git
[submodule "libs/cmake"]
	path = libs/cmake
	url = https://github.com/Zeex/cmake-modules.git
[submodule "tests/include/amx"]
	path = tests/include/amx
	url = https://github.com/Zeex/amx_assembly.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/log-core"]
	path = libs/log-core
	url = https://github.com/Alasnkz/samp-log-core.git
[submodule "libs/conan-cmake"]
	path = libs/conan-cmake
	url = https://github.com/conan-io/cmake-conan
